:root {
  --font-plain: Arial, 'Helvetica', sans-serif;
  --font-fancy: Georgia, serif;
  --font-mono: menlo, Monaco, monospace;
  --bg: #000;
  --bg-darkish: #101216;
  --fg: #fff;
  --accents-1: #111111;
  --accents-2: #333333;
  --accents-3: #444444;
  --accents-4: #696969;
  --accents-5: #888888;
  --accents-6: #999999;
  --accents-7: #eaeaea;
  --accents-8: #fafafa;
  --error: #ff0000;
  --error-light: #ff3333;
  --erro-dark: #e60000;
  --alpha: #0070f3;
  --alpha-light: #3291ff;
  --alpha-dark: #0761d1;
  --bravo: #f5a623;
  --bravo-light: #f7b955;
  --bravo-dark: #ab570a;
  --charlie: #50e3c2;
  --charlie-light: #79ffe1;
  --charlie-dark: #29bc9b;
  --delta: #7928ca;
  --delta-light: #8a63d2;
  --delta-dark: #4c2889;
  --echo: #f81ce5;
  --foxtrot: #ff0080;
  --golf: #eb367f;
  --rounded: 20px;
  --shadow-small: 0 5px 10px rgba(0, 0, 0, 0.12);
  --shadow-medium: 0 8px 30px rgba(0, 0, 0, 0.12);
  --shadow-large: 0 30px 60px rgba(0, 0, 0, 0.12);
  --shadow-hover: 0 30px 60px rgba(0, 0, 0, 0.12);
  --transition1s: all 100ms ease-in-out;
  --transition2s: all 200ms ease-in-out;
  --flow-space: 1.75rem;
  --flow-mid: 3.5rem;
  --flow-large: 5rem;
  --flow-massive: 10rem;
}

/* ======== Scroll bar =========== */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--golf) var(--fg);
}

*::-webkit-scrollbar-track {
  background: var(--fg);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--golf);
  border-radius: 20px;
}
::selection {
  background-color: var(--bg);
  color: var(--fg);
}

/* Set core body defaults */
body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--font-plain);
  color: var(--accents-1);
  background: var(--fg);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.5px;
  color: var(--accents-1);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

body,
ol[class],
li,
ul,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

p {
  margin: 0;
  color: var(--accents-4);
}

/* ------ Responsive Type ---------- */

@media (min-width: 640px) {
  body {
    font-size: 19px;
  }
}
@media (min-width: 768px) {
  body {
    font-size: 20px;
  }
}
@media (min-width: 1024px) {
  body {
    font-size: 21px;
  }
}
@media (min-width: 1280px) {
  body {
    font-size: 22px;
  }
}

/* ========================= Utils ========================= */

.container {
  margin: 0 auto;
  padding: var(--flow-space) var(--flow-space);
}

.title {
  font-size: 4vw;
  margin-bottom: var(--flow-space);
  margin-top: var(--flow-space);
  font-family: var(--font-fancy);
}
.logo {
  font-weight: bold;
  font-size: 1.5rem;
}
@media (max-width: 678px) {
  .title {
    font-size: 8vw;
    margin-bottom: var(--flow-mid);
  }
}

.center {
  display: grid;
  place-items: center;
}
.card {
  min-width: auto;
}
.card-image {
  width: 100%;
  height: 100%;
  border-radius: var(--rounded);
  box-shadow: var(--shadow-medium);
  min-height: 150px;
  min-width: 150px;
  object-fit: cover;
}

.alpha-btn {
  white-space: nowrap;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  background: var(--alpha);
  border-radius: 4px;
  font-size: 0.8em;
  font-weight: 600;
  letter-spacing: 0.025em;
  color: var(--fg);
  text-decoration: none;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  border: none;
}
.alpha-btn:hover {
  transform: translateY(-1px);
  background: var(--alpha-light);
  cursor: pointer;
}

.home-link {
  margin: var(--flow-mid) 0;
}

/* ================ Header ====================== */

.header-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  margin-bottom: var(--flow-large);
}
@media (max-width: 678px) {
  .header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.header-intro {
  place-self: center;
  min-height: 200px;
  padding: var(--flow-space) 0;
}
.intro-title {
  justify-self: center;
  color: var(--golf);
  font-family: var(--font-fancy);
  font-weight: bolder;
  letter-spacing: 2px;
  margin-bottom: var(--flow-space);
}

/* =================== Home ===================== */

.home-content-wrapper {
  display: flex;
  justify-content: space-between;
}
.scroller-wrapper {
  max-width: 1300px;
}
.scroller {
  overflow-x: scroll;
  overflow-y: hidden;
  margin-bottom: var(--flow-large);
}
.home-content-wrapper {
  padding: 1em;
}
.home-card {
  padding: 0;
  margin-right: var(--flow-space);
}
.home-genres {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: var(--flow-space);
}
/* ================ List Data ====================== */

.animated-hero-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-image-holder {
  display: grid;
  place-items: center;
  background: var(--bg);
  color: var(--fg);
  width: 200px;
  height: 300px;
}

.list-data {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
}
.list-data-link {
  text-decoration: none;
}
.list-data-title {
  margin-top: var(--flow-space);
  font-size: 1.3em;
}
.list-data-rating {
  font-size: 1.2em;
  color: var(--golf);
}

/* ======================= Movie ========================== */

.movie-page-wrapper {
  margin-bottom: var(--flow-large);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
.movie-page-content-wrapper {
  justify-self: center;
  grid-column: 1 / 3;
}
.movie-page-image-wrapper {
  justify-self: end;
  grid-column: 3;
}
.movie-page-image {
  border-radius: var(--rounded);
  box-shadow: var(--shadow-medium);
  max-width: 80vw;
}
@media (max-width: 768px) {
  .movie-page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.movie-stats {
  display: flex;
  flex-wrap: wrap;
}
.movie-stats p {
  margin-right: 1em;
}

.genre-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--flow-space);
  margin-bottom: var(--flow-mid);
}
.genre-list-item {
  margin-right: 1em;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.genre-list-item:hover {
  transform: translateY(-1px);
  cursor: pointer;
}
.genre {
  padding: 0.4em 0.7em;
  border: 1px solid var(--accents-6);
  border-radius: 4em;
  text-decoration: none;
  color: var(--bg);
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  font-weight: 100;
  font-size: 0.9rem;
}
.movie-summary-title {
  font-size: 1.5em;
}

/* ============ Nav Bar ======================================== */

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  margin: var(--flow-large) 0;
  flex-wrap: wrap;
}

.nav-list {
  display: flex;
  justify-content: space-between;
}
.nav-list-item {
  list-style-type: none;
  margin: 0 0.5em;
}
.nav-link {
  text-transform: capitalize;
  font-weight: 100;
  font-size: 0.8em;
  color: var(--accents-4);
  text-decoration: none;
  transition: color 0.2s ease;
}
.nav-link:hover {
  color: var(--bg);
}
.icon {
  text-decoration: none;
}
.nav-link-logo {
  text-decoration: none;
  color: var(--bg);

  font-weight: bolder;
}

@media (max-width: 768px) {
  .logo-wrapper {
    padding-bottom: var(--flow-space);
  }
}

/* ============= Search Page =================== */

.search-form {
  margin-bottom: var(--flow-large);
  display: flex;
  justify-content: flex-start;
}
.search-input {
  font-size: 0.875rem;
  border: 1px solid var(--accents-6);
  padding: 0.8rem 1rem;
  -moz-appearance: none;
  border-radius: 5px;
  width: 100%;
  max-width: 600px;
}

/* ============ Animated Hero ======================= */

.animated-hero-wrapper {
  display: flex;
  justify-content: flex-start;
}

.walkthrough {
  width: 500px;
  margin: 0 auto;
  background: var(--bg);
  border-radius: 10px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  padding: 1rem;
}

@media (min-width: 768px) {
  .walkthrough {
    min-width: 473px;
  }
}

.typing.is-right .dots {
  margin-left: auto;
}

.typing.is-left .dots {
  margin-right: auto;
}

.dots {
  grid-column-start: 2;
  display: flex;
  justify-content: space-between;
  background: var(--delta-light);
  padding: 10px;
  border-radius: 50px;
  width: 70px;
}

.dots > div {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: var(--delta);
  animation: loader 1.5s infinite;
}

/* no margin on the far right dot */
.dots > div:not(:last-child) {
  margin-right: 8px;
}

/* put a delay on each of the dots */
.dots > div:first-child {
  animation-delay: 0.1s;
}

.dots > div:nth-child(2) {
  animation-delay: 0.2s;
}

.dots > div:last-child {
  animation-delay: 0.3s;
}

@keyframes loader {
  0%,
  100% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.7;
    transform: scale(0.6);
  }
}

.message,
.typing {
  display: grid;
  grid-template-columns: 55px auto 55px;
  width: 100%;
  margin-bottom: 10px;
}

.message:last-child {
  margin-bottom: 0;
}

.message:nth-child(even) > div:first-child {
  opacity: 0;
}

.message:nth-child(odd) > div:last-child {
  opacity: 0;
}

.avatar {
  font-size: 2em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  padding: 0.75rem;
  border-radius: 0.5rem;
  background-color: var(--alpha);
  color: var(--fg);
  display: flex;
  align-items: center;
}

.message:nth-child(even) .text {
  justify-content: flex-end;
  background-color: var(--golf);
}
